In [1]:
import pandas as pd

In [2]:
automobile=pd.read_csv('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Machine learning/Preparing data for ML/mympgprocess.csv')

In [3]:
automobile

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
383,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
384,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
385,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
386,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
387,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [4]:
automobile.drop('car name',axis=1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1
3,16.0,8,304.0,150,3433,12.0,70,1
4,17.0,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
383,27.0,4,140.0,86,2790,15.6,82,1
384,44.0,4,97.0,52,2130,24.6,82,2
385,32.0,4,135.0,84,2295,11.6,82,1
386,28.0,4,120.0,79,2625,18.6,82,1
387,31.0,4,119.0,82,2720,19.4,82,1

In [5]:
automobile.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000
mean,23.539804,5.456186,193.240979,103.961340,2970.131443,15.562371,76.038660,1.582474
std,7.773153,1.704421,104.075662,37.847799,846.589541,2.748592,3.655876,0.807524
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.750000,75.000000,2222.250000,13.775000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,92.500000,2797.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,263.250000,125.000000,3610.000000,17.125000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [6]:
from sklearn import preprocessing

In [7]:
automobile[['cylinders']]=preprocessing.scale(automobile[['cylinders']].astype('float64'))
automobile[['displacement']]=preprocessing.scale(automobile[['displacement']].astype('float64'))
automobile[['horsepower']]=preprocessing.scale(automobile[['horsepower']].astype('float64'))
automobile[['weight']]=preprocessing.scale(automobile[['weight']].astype('float64'))
automobile[['cylinders']]=preprocessing.scale(automobile[['cylinders']].astype('float64'))
automobile[['acceleration']]=preprocessing.scale(automobile[['acceleration']].astype('float64'))
automobile[['origin']]=preprocessing.scale(automobile[['origin']].astype('float64'))

In [8]:
automobile.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,388.000000,3.880000e+02,3.880000e+02,3.880000e+02,3.880000e+02,3.880000e+02,388.000000,3.880000e+02
mean,23.539804,9.070637e-16,-1.505096e-16,1.144560e-16,3.058836e-16,1.070163e-15,76.038660,1.642443e-16
std,7.773153,1.001291e+00,1.001291e+00,1.001291e+00,1.001291e+00,1.001291e+00,3.655876,1.001291e+00
min,9.000000,-1.442928e+00,-1.204918e+00,-1.533410e+00,-1.605127e+00,-2.754915e+00,70.000000,-7.222401e-01
25%,17.500000,-8.554609e-01,-8.513540e-01,-7.661934e-01,-8.845456e-01,-6.511258e-01,73.000000,-7.222401e-01
50%,23.000000,-8.554609e-01,-4.544960e-01,-3.032181e-01,-2.041773e-01,-2.272133e-02,76.000000,-7.222401e-01
75%,29.000000,1.494407e+00,6.735428e-01,5.565931e-01,7.567950e-01,5.692539e-01,79.000000,5.177119e-01
max,46.600000,1.494407e+00,2.518331e+00,3.334445e+00,2.566380e+00,3.365198e+00,82.000000,1.757664e+00

In [9]:
automobile.shape
automobile.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x=automobile.drop(['origin','mpg','car name'],axis=1)
y=automobile['mpg']

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
linear_model=LinearRegression(normalize=True).fit(x_train,y_train)

In [15]:
print("Training score",linear_model.score(x_train,y_train))

Training score 0.8008250579649157

In [16]:
y_pred=linear_model.predict(x_test)

In [17]:
from sklearn.metrics import r2_score

In [18]:
print("testing score",r2_score(y_test,y_pred))

testing score 0.7845472040999732

Adjusted R2 method

In [19]:
def adjusted_r2(r_square,labels,features):
    adj_r_square=1-((1-r_square) * (len(labels)-1)) / (len(labels)- features.shape[1]-1)
    return adj_r_square

In [20]:
print("Adjusted R2 score",adjusted_r2(r2_score(y_test,y_pred),y_test,x_test))

Adjusted R2 score 0.7663399255732104

Calculate correleation

In [21]:
feature_corr=x.corr()
feature_corr

,cylinders,displacement,horsepower,weight,acceleration,model year
cylinders,1.000000,0.951090,0.844862,0.897084,-0.500297,-0.337076
displacement,0.951090,1.000000,0.897192,0.932995,-0.536483,-0.360204
horsepower,0.844862,0.897192,1.000000,0.864163,-0.686918,-0.408763
weight,0.897084,0.932995,0.864163,1.000000,-0.410609,-0.301421
acceleration,-0.500297,-0.536483,-0.686918,-0.410609,1.000000,0.283988
model year,-0.337076,-0.360204,-0.408763,-0.301421,0.283988,1.000000

In [22]:
abs(feature_corr)>0.8 #check correleation drop some column

,cylinders,displacement,horsepower,weight,acceleration,model year
cylinders,True,True,True,True,False,False
displacement,True,True,True,True,False,False
horsepower,True,True,True,True,False,False
weight,True,True,True,True,False,False
acceleration,False,False,False,False,True,False
model year,False,False,False,False,False,True

In [23]:
trim_feature_df=x.drop(['cylinders','displacement','weight'],axis=1)

In [24]:
trim_feature_corr=trim_feature_df.corr()
trim_feature_corr

              horsepower  acceleration  model year
horsepower      1.000000     -0.686918   -0.408763
acceleration   -0.686918      1.000000    0.283988
model year     -0.408763      0.283988    1.000000

variance_inflation_factor for checking multicollinear

In [25]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [26]:
vif=pd.DataFrame()
vif["vif factor"]=[variance_inflation_factor(x.values,i) for i in range(x.shape[1])]

In [27]:
vif["features"]=x.columns

In [28]:
vif.round(2)

   vif factor      features
0       10.65     cylinders
1       19.49  displacement
2        9.01    horsepower
3       10.39        weight
4        2.61  acceleration
5        1.00    model year

In [29]:
x=x.drop(['displacement','weight'],axis=1)

In [30]:
vif=pd.DataFrame()
vif["vif factor"]=[variance_inflation_factor(x.values,i) for i in range(x.shape[1])]

In [31]:
vif["features"]=x.columns

In [32]:
vif.round(2)

   vif factor      features
0        3.65     cylinders
1        5.18    horsepower
2        1.98  acceleration
3        1.00    model year

In [37]:
x=automobile.drop(['mpg','displacement','weight','origin','car name'],axis=1)
y=automobile['mpg']

In [38]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [39]:
linear_model=LinearRegression(normalize=True).fit(x_train,y_train)

In [40]:
print("Training score",linear_model.score(x_train,y_train))

Training score 0.7448201617945125

In [41]:
y_pred=linear_model.predict(x_test)

In [42]:
print("testing score",r2_score(y_test,y_pred))

testing score 0.7373250901244435

In [43]:
print("Adjusted R2 score",adjusted_r2(r2_score(y_test,y_pred),y_test,x_test))

Adjusted R2 score 0.7229319443778377